#index-main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}

#index-main h1 {
  text-align: center;
  margin: 0;
  align-self: center;
  letter-spacing: 4vw;
  font-size: 50px;
  font-weight: 100;
  color: #e2e2e2;
  font-family: "Overpass Mono", monospace;
  /* text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); */
}

#index-button {
  align-self: center;
  font-weight: 400;
  letter-spacing: 2vw;
  font-size: 1em;
  height: 6%;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: #e2e2e2;
  margin: 30px;
  transition: all 0.5s ease-in-out;
  outline: none;
  font-family: "Overpass Mono", monospace;
  /* text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); */
  padding: 0;
}

#index-button:hover {
  transform: scale(1.1, 1.1);
  /* animation: blink 8s ease-in-out infinite; */
}
